## Group 5

#### Marjahan Begum
#### Salvatore Davi
#### Gjon Dedvuka

In [1]:
import pandas as pd
import numpy as np

In [2]:
nvidia = pd.read_csv('NVDA.csv')

In [3]:
nvidia.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,298.149994,307.109985,297.850006,301.209991,300.877502,39154700
1,2022-01-04,302.769989,304.679993,283.489990,292.899994,292.576660,52715400
2,2022-01-05,289.489990,294.160004,275.329987,276.040009,275.735291,49806400
3,2022-01-06,276.399994,284.380005,270.649994,281.779999,281.468933,45418600
4,2022-01-07,281.410004,284.220001,270.570007,272.470001,272.169250,40993900

In [4]:
nvidia.count()

Date         251
Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [5]:
tesla = pd.read_csv('TSLA-2.csv')

In [6]:
tesla.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400
1,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300
2,2022-01-05,382.216675,390.113342,360.336670,362.706665,362.706665,80119800
3,2022-01-06,359.000000,362.666656,340.166656,354.899994,354.899994,90336600
4,2022-01-07,360.123322,360.309998,336.666656,342.320007,342.320007,84164700

In [7]:
tesla.count()

Date         251
Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [8]:
jpmorgan = pd.read_csv('JPM.csv')

In [9]:
jpmorgan.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,159.860001,162.639999,159.509995,161.699997,154.391342,13120900
1,2022-01-04,164.309998,168.580002,164.229996,167.830002,160.244308,20195800
2,2022-01-05,167.820007,168.360001,163.729996,163.779999,157.314682,17539400
3,2022-01-06,166.910004,167.369995,163.869995,165.520004,158.986023,14047500
4,2022-01-07,165.669998,167.529999,165.059998,167.160004,160.561264,13913300

In [10]:
jpmorgan.count()

Date         251
Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [11]:
MMM = pd.read_csv('MMM.csv')

In [12]:
MMM.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,178.320007,179.089996,175.839996,177.740005,168.282104,1930700
1,2022-01-04,178.479996,181.259995,178.029999,180.229996,170.639603,2522200
2,2022-01-05,177.130005,181.779999,177.000000,179.490005,169.938995,2952400
3,2022-01-06,180.880005,181.279999,177.539993,178.000000,168.528275,2505400
4,2022-01-07,178.130005,180.490005,177.220001,179.949997,170.374496,2800200

In [13]:
MMM.count()

Date         251
Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [14]:
KO = pd.read_csv('KO.csv')

In [15]:
KO.head(5)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2022-01-03  58.820000  59.310001  58.380001  59.299999  57.157574  20187300
1  2022-01-04  59.730000  60.540001  59.590000  60.290001  58.111809  26141600
2  2022-01-05  60.090000  61.200001  60.049999  60.790001  58.593746  22507300
3  2022-01-06  60.470001  61.119999  60.439999  60.470001  58.285309  17902300
4  2022-01-07  60.279999  60.720001  60.060001  60.330002  58.150364  12307900

In [16]:
KO.count()

Date         251
Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [17]:
sp500 = pd.read_csv('SP500.csv')

In [39]:
sp500.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,30-Dec-22,"3,829.06","3,839.85","3,800.34","3,839.50","3,839.50","2,979,870,000"
1,29-Dec-22,"3,805.45","3,858.19","3,805.45","3,849.28","3,849.28","3,003,680,000"
2,28-Dec-22,"3,829.56","3,848.32","3,780.78","3,783.22","3,783.22","3,083,520,000"
3,27-Dec-22,"3,843.34","3,846.65","3,813.22","3,829.25","3,829.25","3,030,300,000"
4,23-Dec-22,"3,815.11","3,845.80","3,797.01","3,844.82","3,844.82","2,819,280,000"

In [40]:
sp500.count()

Date           251
Open           251
High           251
Low            251
Close*         251
Adj Close**    251
Volume         251
dtype: int64

In [37]:
nvidia['Daily % Change'] = round(nvidia['Adj Close'].pct_change() * 100, 2)

In [38]:
print("Nvidia:")
print(nvidia.head(20))

Nvidia:
          Date        Open        High         Low       Close   Adj Close  \
0   2022-01-03  298.149994  307.109985  297.850006  301.209991  300.877502
1   2022-01-04  302.769989  304.679993  283.489990  292.899994  292.576660
2   2022-01-05  289.489990  294.160004  275.329987  276.040009  275.735291
3   2022-01-06  276.399994  284.380005  270.649994  281.779999  281.468933
4   2022-01-07  281.410004  284.220001  270.570007  272.470001  272.169250
5   2022-01-10  265.809998  274.690002  256.440002  274.000000  273.697540
6   2022-01-11  273.230011  280.649994  268.390015  278.170013  277.862915
7   2022-01-12  280.670013  285.950012  276.079987  279.989990  279.680908
8   2022-01-13  283.790009  284.799988  264.980011  265.750000  265.456635
9   2022-01-14  263.000000  271.970001  262.100006  269.420013  269.122620
10  2022-01-18  262.600006  266.380005  257.700012  259.029999  258.744080
11  2022-01-19  260.790009  265.429993  250.520004  250.669998  250.393311
12  2022-01-20  253.039993  255.789993  240.779999  241.500000  241.233414
13  2022-01-21  235.070007  248.229996  232.630005  233.740005  233.481964
14  2022-01-24  223.300003  233.800003  208.880005  233.720001  233.462021
15  2022-01-25  225.460007  229.429993  220.000000  223.240005  222.993591
16  2022-01-26  232.399994  240.570007  223.000000  227.720001  227.468643
17  2022-01-27  235.679993  239.949997  216.750000  219.440002  219.197769
18  2022-01-28  220.119995  228.580002  212.960007  228.399994  228.147873
19  2022-01-31  231.820007  245.089996  230.520004  244.860001  244.589691

      Volume  Daily_Return  Daily % Change
0   39154700           NaN             NaN
1   52715400         -2.76           -2.76
2   49806400         -5.76           -5.76
3   45418600          2.08            2.08
4   40993900         -3.30           -3.30
5   59468100          0.56            0.56
6   40408900          1.52            1.52
7   38341300          0.65            0.65
8   54017100         -5.09           -5.09
9   39583200          1.38            1.38
10  42427000         -3.86           -3.86
11  48831500         -3.23           -3.23
12  43518100         -3.66           -3.66
13  71895800         -3.21           -3.21
14  91398200         -0.01           -0.01
15  66461600         -4.48           -4.48
16  75595900          2.01            2.01
17  57335300         -3.64           -3.64
18  54377400          4.08            4.08
19  56468000          7.21            7.21

In [34]:
print("Total count:", nvidia.count())
print()

Total count: Date              251
Open              251
High              251
Low               251
Close             251
Adj Close         251
Volume            251
Daily_Return      250
Daily % Change    250
dtype: int64